/* styles.css */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: #000000;
    font-family: 'Lato', sans-serif;
}

.export-button {
    position: fixed;
    top: 0;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    /* margin-right: 20px; */
    margin-left: 7px;
    cursor: pointer;
    z-index: 1;
    font-weight: bold; /* Agrega negrita */
}

.export-button:hover {
    background-color: #0056b3;
}

.handbook-button {
    position: fixed;
    top: 40px;
    right: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
    z-index: 1;
}

.handbook-button:hover {
    background-color: #0056b3;
}

.center-button {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}
